---
title: "Home"
layout: default
pagination:
enabled: true
description: "A portal or knowledgeHub for the AI & ML Envagelist"
---

<div class="container home-wrapper">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="box-caption">
                <span> Spotlight</span>
            </div>
            <!-- latest post -->
            <div id="carousel" class="owl-carousel owl-spotlight owl-theme">
                {% for post in site.posts limit:5 %}
                <div class="item">
                    <img src="{{post.image}}"/>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Latest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Popular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                        aria-controls="contact" aria-selected="false">Random</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <ul class="list-news-popular">
                        {% for post in site.posts limit:5 %}
                        <li>
                            <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                                <img src="{{post.image}}" />
                            </a>
                            <h3>
                                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                                    {{post.title}}
                                </a>
                            </h3>
                            <div class="meta-post">
                                <a href="#" title="Posts by {{post.name}}"
                                    rel="author">{{ post.author }}</a> <em></em>
                                <span>{{ post.date | date: "%d, %B %Y" }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
    </div>
</div>