// ----
// Sass (vundefined)
// Compass (vundefined)
// dart-sass (v1.18.0)
// ----

body {
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    background-color: #f5f5f5;
    font-family: "Open Sans";
    // padding: 50px;
    #large-header {
        background-image: url("/assets/images/Thinking-robot.jpg");
        position: relative;
        margin-bottom: 50px;
        min-height: 303px;
        max-height: 303px;
        position: relative;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;

        z-index: 1;
        .navbar {
            background-color: rgba(0, 0, 0, 0.7) !important;
            height: 75px;
            .navbar-brand {
                position: relative;
                padding-left: 80px;
                .logo {
                    // background-color: #161923;
                    animation: logomove 5s infinite;
                    mask: url(/assets/img/logo.svg) no-repeat center/contain;
                    -webkit-mask: url(/assets/img/logo.svg) no-repeat center/contain;
                    height: 70px;
                    position: absolute;
                    top: -15px;
                    left: 5px;
                    width: 70px;
                }
                &:hover {
                    background-color: transparent;
                    border-radius: inherit;
                }
            }
            a {
                padding: 10px 20px;
                color: #fff;
                transform: .2s;
                &:hover {
                    background-color: black;
                    border-radius: .30rem;
                }
            }
        }
        .main-title {
            position: absolute;
            margin: 0;
            padding: 0;
            color: #0e19af;
            text-align: center;
            top: 70%;
            left: 48%;
            -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
            text-transform: uppercase;
            font-size: 4.2em;
            letter-spacing: 0.1em;
            .thin {
                font-weight: 700;
            }
        } 
    }
}

@keyframes logomove { 
    from {background-color: #536c8c;}
    to {background-color: #161923;}
  }

@import 'styles/preloader';
@import 'styles/index';